/* 
 * This is the container which encloses both the map div as well 
 * as the infobox.
 */
div#map-outer {
	width:860px;
	height:540px;
	background-color:rgb(210, 240, 238);
	border-radius:7px;
}

/* The container of the actual map */
div#map-container {
	width:600px;
	height:100%;
	float:left;
}

/* The container of the infobox */
div#map-info-box {
	width:232px;
	float:left;
	padding:10px 10px 10px 15px;
}

/* The heading which contains info about the country and (if known) city */
div#map-info-box h4#map-info-header {
	font-weight: 500;
	font-size: 120%;
}
/* All the person names */
div#map-info-box span.name {

}
/* All the person descriptions (incl. working groups) */
div#map-info-box span.desc {

}

/* Only rendered initially, before clicking any marker */
#map-info-box p.infotext {
	font-style: italic;
}
